@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.value-card {
  display: flex;
  gap: $spacing-m;
  margin-bottom: $spacing-xl;

  &__name {
    @include uppercase-header;
  }
}
