@use "./styles/mixins.scss" as *;
@use "./styles/variables.scss" as *;

.app {
  width: 100vw;
  height: 100vh;
  background-color: $background-light;

  &__overlay {
    @include flexbox($direction: column, $align-items: flex-start);
    height: 100%;
    width: 100%;
    background-image: url("../src/assets/imgs/houseplant.jpg");
    background-size: 30%;
    background-position: calc(100% - $spacing-s) bottom;
    background-repeat: no-repeat;
    overflow: auto;
    position: fixed;

    @include tablet {
      background-size: 20%;
      align-items: flex-end;
      background-position: $spacing-xl bottom;
    }

    @include desktop {
      background-position: $spacing-xxl bottom;
    }
  }

  &__content {
    width: 100%;
    padding-top: 100px;
    @include side-padding;

    max-height: 60vh;
    overflow: auto;

    @include tablet {
      width: 70%;
      padding-right: 200px;
    }
  }

  &__text {
    // border: 1px solid red;
    max-width: 400px;
  }
}
