@use "./styles/mixins.scss" as *;
@use "./styles/variables.scss" as *;

.app {
  width: 100vw;
  height: 100vh;
  background-color: $background-light;

  &__overlay {
    @include flexbox($direction: column, $align-items: flex-start);
    height: 100%;
    width: 100%;
    background-image: url("../src/assets/imgs/houseplant.jpg");
    background-size: 30%;
    background-position: left bottom;
    background-repeat: no-repeat;
    overflow: auto;
    position: fixed;

    @include tablet {
      background-size: 20%;
      align-items: center;
    }
  }

  &__content {
    padding-top: 100px;
    max-width: 700px;
    @include side-padding;

    max-height: 60vh;
    overflow: auto;

    @include tablet {
      padding-right: 200px;
    }
  }
}