@use "./styles/mixins.scss" as *;
@use "./styles/variables.scss" as *;

.app {
  width: 100vw;
  height: 100vh;
  background-color: $background-light;

  &__overlay {
    @include flexbox($direction: column, $align-items: flex-start);
    top: 5rem;
    // padding: $spacing-m;
    height: 90%;
    width: 100%;
    background-image: url("../src/assets/imgs/houseplant.jpg");
    background-size: 50%;
    background-position: left bottom;
    background-repeat: no-repeat;
    overflow: auto;
    position: fixed;

    @include tablet {
      background-size: 20%;
      align-items: center;
    }
  }

  &__text-test {
    max-width: 500px;
    @include side-padding;
  }
}
